var path = require('path');

module.exports = {
  entry: './src/client/init',
  output: {
    path: path.resolve(__dirname, 'dist'),
    file: 'bundle.js',
    publicPath: '/static/'
  },
  module: {
    loaders: [
      { test: /\.jsx?$/, exclude: /node_modules/, loader: 'babel-loader?presets[]=es2015&presets[]=react' }
    ]
  }
}
